@{
    ViewData["Title"] = "Getting started on AusNimbus";
}

<section class="hero text-center flexbox verticalAlign">
    <div class="container">
        <h1>Getting Started with AusNimbus</h1>
        <p>This is an example application deployed on AusNimbus. For instructions on how to deploy your own application, start by reading the documentation or go straight to the dashboard.</p>
        <div class="buttonGroup"> <a href="https://console.ausnimbus.com.au/" class="button blue">Dashboard</a> <a href="https://docs.ausnimbus.com.au/" class="button">Documentation</a></div>
    </div>
</section>
<!--//Hero End-->
<section class="contents">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 column">
                <h3><span class="glyphicon glyphicon-info-sign"></span> How this works </h3>
                <ul class="list">
                    <li>Using the git source URL you provided, AusNimbus fetched your source code.</li>
                    <li>The platform then built it into a secure, fast and reliable container image.</li>
                    <li>The container image was then used to spin up a lightweight Docker container to serve this page.</li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 column">
                <h3><span class="glyphicon glyphicon-info-sign"></span> Next steps</h3>
                <ul class="list">
                    <li>Head back to the dashboard and put in your own git source repository</li>
                    <li>Trigger a new, and the platform will automatically deploy your app</li>
                    <li>You can scale your application, push changes and add add-on components from the dashboard or command line tools.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
